body {
    background: rgb(228, 224, 224);
    font-family: Cambria;
}
/* NAVBAR ELEMENT STYLING /////////////////*/
#nav-bar {
    /* width: 100vw; */
    height: 55px;
    background-color: black;
    color: white;
    padding: 5px 30px 5px 30px;
    top: 0; 
    right: 0;
    left: 0;
    margin-bottom: 20px;
    z-index: 10; 
    display: flex;
}

#logo-name {
    display: inline;
    text-align: left;
    margin-top: 12px;
    font-weight: 100; 
    margin-left: 8px;
    color: darkorange;
}
#header-img {
    width: 50px;
    position: relative;
    height: 50px;
    float: left;
    margin-left: 30px;
}
#nav-links {
    position: absolute;
    right: 10px;
}
ul#nav-links li {
    
    display: inline;
    margin-right: 50px;
    font-style: italic;
}
ul#nav-links>li>a:hover {
    color: darkgrey;
}
ul#nav-links>li>a:active {
    color: darkorange;
}

a {
    text-decoration: none;
    color: white;
}

/* INTRO /////////////////////////// */
#intro {
    text-align: center;
    margin-top: 100px;
   
}
h1 {
    font-size: 50px;
    font-style: italic;
    
}
.languages {
    
}

/* VIDEO //////////////////////// */
@media (min-height: 700px) {
    video {
        width: 820px;
        height: 740px;
    }
}
@media (max-height: 700px) {
    video {
        width: 520px;
        height: 440px;
    }
}
.video {
    display: flex;
    justify-content: center;
    margin-top: 100px; 
    margin-bottom: 50px;
       
}

/* FOOTER ////////////////////////// */
#footer {
    display: flex;
    justify-content: center;
    /* width: 100vw; */
    height: 100px;
    background-color: black;
    color: white;
    padding: 5px 30px 5px 30px;
    bottom: 0; 
    right: 0;
    left: 0;
    z-index: 10; 
    text-align: center;
}
form {
    margin-bottom: 10px;
}
#email {
    text-align: center;
    margin-right: 10px;

}